.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 200px;
  padding: 15px;
  font-size: 20px;
}
.footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}
.footer .right .logo1 img {
  height: 40px;
  width: 40px;
}
.footer .right .logo2 img {
  height: 60px;
  width: 60px;
}