.circle {
  background-color: #ffd972;
  height: 350px;
  border-radius: 50%;
  width: 350px;
  margin-left: 500px;
  text-align: center;
  margin-top: 200px;
}
.circle .header {
  font-size: 15px;
  margin-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circle .header h2 {
  margin-top: 80px;
}
.circle P {
  margin-top: 50px;
  font-size: 15px;
  width: 300px;
  margin-left: 20px;
}

.wiggle {
  background-color: #fcbcb8;
  height: 240px;
  border-radius: 50%;
  width: 240px;
  margin-left: 800px;
  margin-top: -400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wiggle p {
  margin-left: 20px;
}