.browseContainer {
  width: 1500px;
  height: 970px;
  background-image: url(../images/recipe-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.browseContainer .overlayy {
  width: 1500px;
  height: 970px;
  background: rgba(167, 232, 189, 0.5);
}
.browseContainer .overlayy h3 {
  padding: 100px;
}
.browseContainer .overlayy .line1 {
  padding-left: 60px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browseContainer .overlayy .line1 .pic img {
  height: 300px;
  width: 400px;
  border-radius: 30px;
}
.browseContainer .overlayy .line1 .image-holder {
  background-image: url(../images/recipe-pizza.jpg);
  height: 300px;
  width: 400px;
  border-radius: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.browseContainer .overlayy .line1 .image-holder a {
  text-decoration: none;
  color: black;
}
.browseContainer .overlayy .line1 .image-holder .button {
  background-color: #ffd972;
  border-radius: 35px;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
}
.browseContainer .overlayy .line1 .button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding: 10px;
}
.browseContainer .overlayy .line1 .button-holder a {
  text-decoration: none;
  color: black;
}
.browseContainer .overlayy .line1 .button-holder .button {
  background-color: #ffd972;
  border-radius: 35px;
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
.browseContainer .overlayy .line1 .button-holder:hover .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browseContainer .overlayy .desc {
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 30px;
  padding: 15px;
}
.browseContainer .overlayy .desc .title {
  text-align: center;
  padding: 5px;
  border-bottom: 3px solid black;
}
.browseContainer .overlayy .desc .sma {
  padding: 5px;
}
.browseContainer .overlayy .desc .pack {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.browseContainer .overlayy .desc .pack .pict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browseContainer .overlayy .desc .pack .pict img {
  padding: 5px;
  width: 80px;
  height: 34px;
}